h1{
    font-size: $tamano-h1;
    font-weight: $weight-h1;
    color: $color-secundario;
    font-family: $fuente-titulo;
}

h2{
    font-size: $tamano-h2;
    font-weight: $weight-h2;
    font-family: $fuente-titulo;
    padding-top: 20px;
}

h3{
    font-size: $tamano-h3;
    font-weight: $weight-h3;
    font-family: $fuente-titulo;
    
}

h4{
    font-size: $tamano-h4;
    font-weight: $weight-h4;
    font-family: $fuente-titulo;
    color: $color-principal;


}
h5{
    font-size: $tamano-h5;
    font-family: $fuente-titulo;
    font-weight: $weight-h2;
    color: $color-principal;
    
}
p{
    font-size: $tamano-p;
    font-family: $fuente-parrafo;
    color: $color-fuente;
}

// tamano Fuentes Aplicadas 




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $color-de-fondo;
    color: $color-fuente;
}

// HEADER

.header1 {
    height: 45rem;
}

nav{
    margin: 0 40px;
   
    ul{
         display: flex;
        justify-content: space-between;
        border-bottom: solid 1px ;
        li{
            padding: 20px ;
            list-style: none;
            font-family: $fuente-titulo;
            color: $color-fuente;
    }
    }

}
.logo{
    width: 220px;
    height: auto;
    padding-right: 40px;
}
.nav-link{
    color: $color-fuente;
    text-decoration: none;
}
.nav-link.encendido{
    color: $color-principal;
}
.nav-link.oninicio{
    color: $color-de-fondo;
}
@media (min-width:992px) {
    
.nav-link:hover{
    color: $color-principal;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 100%;
  }
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent!important;
}
// FIN HEADER 

//BREADCRUMB
.bread{
    margin: 0;

ol{
    margin: 40px 0px ;
    padding: 0;
    li{
        font-size: $tamano-p-pqueno;
        color: $color-detalle;
        font-family: $fuente-titulo;
        a{
            color: $color-secundario;
        }
    }
}
}
//        HOME 

.backgroundf {
    background-image: url(../img/img/manos2.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.album.py-5{
    img{
        height: 400px;
    }
}
.sobremi {
    background-color: $color-sobremi;
    width: 95%; /* Cambiado a 100% para que ocupe todo el ancho disponible */
    margin: 0 auto;
    padding: 40px;
    color: $color-texto-sobremi;
    
}
.imgseñor {
        width: 100%;
       
        object-fit: contain;
        margin-bottom: 30px;
    }

.sobremititulo{
    margin-bottom: 20px;
    padding: 10px 0px 20px 10px;
    color: $color-texto-sobremi;
    font-weight: $weight-h1-delgada;
    display: flex;
    justify-content:space-between;
}

.sobremiparrafo{
    width: 90%;
   
    p{
        color: $color-texto-sobremi;
    }
}


.galeria-index{
    
    img{
        object-fit: cover;
        height: 200px;
    }
}

.infocuadro{
    padding: 0px 30px 0px 30px;
    margin: 10px 0px 0px 0px;
    a{
        text-decoration: none;
        margin: 0;
    }

    p{
        font-size: $tamano-p-grande;
        font-weight: $weight-h1;
    }
}

.container.sobremi{
    display: flex;
}

.contacto {
    background-color: $color-principal;
    width: 100%; /* Cambiado a 100% para que ocupe todo el ancho disponible */
    margin: 30px auto;
    height: 650px;
    color: $color-texto-sobremi;

    h2{
        margin-top: 20px;
    }
    .lineacontac{
        margin: 63px 0px 0px 0px;
    }
    
    .formulario2 {
        @include formularios
    }
    .formulario2 textarea {
        @include forml-text
    }

    .formulario3 {
        @include formularios
    }
    .formulario3 textarea {
        @include forml-text2
    }
    button{
        margin-top: 20px;
    }
    p{
        color: $color-de-fondo;
    }
    display: flex;
    iframe{
        width: 80%;
        height: 60%;
    }
    .col-4{
        padding-top: 27px;
    }
}


/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
    transition: transform 2s ease, opacity 2s ease;
}

.active {
    transform: scale(1.0);
    opacity: 1 !important;
}

.carousel-item:not(.active) {
    opacity: 1;
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
}
@media (max-width:596px) {
   
    .contacto{
        .row{
        display: block;
        iframe{
            width: 400px;
            height: 300px;
        }
    }

     height: 1100px;}
     .sobremititulo{
       
        justify-content:center;
    }
}
@media (max-width:796px) {
     .container.sobremi{

    .row{
        display: block;
    }
    img{
        width: 400px;
        height: 350px;
        object-fit: cover;
    }
    .col-7{
        width: 100%;
    }
}
    
}
/* Fin Carousel base class */ 


  //GALERIA

.row.modernas3{
    img{
        width: 100%;
        
    }
    margin: 40px 0px;
    
    
}
.modernas2{
    img{
        height: 500px;
        width: 100%;
        object-fit: cover;
    }
    margin: 40px 0px;
    .oculto{
        height: 500px;
        overflow: hidden;
    }
}
.cuadro5{
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin: 40px 0px    ;
}
.otraseccion{
    img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    margin: 40px 0px;
    position: relative;
   .uno{
        position: relative;
        top: -11rem;
        left: 35%;
        margin-right:  10px;
    }
   .dos{
        position: relative;
        top: -11rem;
        left: 40%;
        margin-left: 10px;
    }
    .col{
        padding: 5px;
    }
}

.oculto{
    height: 100%;
    width: 100%;
    padding: 20px ;
    opacity: 0;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    transition: all 400ms ease-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    p{
        color: $color-de-fondo;
    }
}

.oculto:hover{
    display: block;
    visibility: visible;
    opacity: 1;
    background-color: $color-pp-baja-op;
    color: $color-de-fondo;
    
}
.cuadros:hover>.oculto{
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.cuadros{
    position: relative;
    z-index: 0;
    transition: all 400ms ease-out;
    margin: 5px;
}
.pintura{
    z-index: -1;
    position: relative;
}
.col.cuadros{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
button{
    border-radius: 15px;
    padding: 15px;
    background-color: $color-de-fondo;
    border-color: $color-secundario;
    font-family: $fuente-titulo;
    border-width: 1px;
    color: $color-secundario;
    font-weight: $weight-boton;
    a{
        text-decoration: none;
        color: $color-fuente;
    }
}
button:hover{
    background-color: $color-secundario;
    color: $color-de-fondo;
    border-color: $color-secundario;
    a{
        color: $color-de-fondo;
    }
}


.botongrande{
    border-radius: 20px;
    margin: 30px auto;
    padding: 15px ;
    background-color: $color-de-fondo;
    border-color: $color-secundario;
    font-family: $fuente-titulo;
    border-width: 1px;
    color: $color-secundario;
    font-weight: $weight-boton;
}
.botongrande:hover{
    background-color: $color-secundario;
    color: $color-de-fondo;
    border-color: $color-secundario;
}
.modern{
    margin: 40px auto;
}
@media screen and (max-width: 1224px) {
    .row.modernas3{
    .oculto:hover{
        padding-top: 15px;
       h3{
        font-size: 20px !important;
       }
       button{
        font-size: 12px;
        padding: 5px 8px;
        margin-top: 10px;
    }}}  
}

@media screen and (max-width:992px) {
    .otraseccion{
        .uno{
            left: 4.5rem;
            padding: 10px;
            
        }
        .dos{
            left: 5rem;
            padding: 10px;
        }
        
        
    }
    .row.modernas3{
       .oculto:hover{
                h3{
                    font-size: 18px !important;
                }
                padding-top: 8px;
                p{
                    font-size: 11px;
                }

            }     
        }button{
            font-size: 12px;
            padding: 5px 8px;
            margin-top: 10px;
        }
        
}
@media screen and (max-width:767px) {
    .row.modernas3{
        
        img{
            height: 175px;
        }
        h3{
            font-size: 15px !important;
            padding: 5px;
        }
        p{
            font-size: 11px;
        }
        button{
            margin-top: 5px;
        }
    }
}
@media screen and (max-width:596px) {
    .otraseccion{
        .uno{
            left: 2.5rem;
            padding: 10px 0px;
            
        }

    }
    .row.modernas3{
        img{
            width: 450px;
           height: 400px;  
           justify-content: center;
        }
        padding-left: 0;
       
    }

    .oculto:hover{
        h3{
            font-size: 30px;
        }
        p{
            font-size: 15px;
        }
    }
}

//FIN GALERIA


//INSUMOS
.carritoicon{
    width: 8%;
    height: 20px;
    object-fit: contain;
    margin-top: 35px;
}
.carritoicon:hover{
    cursor: pointer;
}
.col.insumos{
    margin: 40px;
    padding: 40px;
    border: 1px solid $color-principal;
    border-radius: 20px;
    border-width: 1px;
    img{
        width: 60%;
        
   }
    h5{
        width: 40%;
        margin: 20px auto;
       
    }

}
.pp{
    height: 54%;
}
hr{
    color: $color-principal;
}
.container.producto{
    margin: 20px auto;
}

@media screen and (max-width:596px) {
    .row.producto{
        display: block;
    }

}
@media screen and (max-width:796px) {
    .pp{
        height: auto;
    }
}

//FIN INSUMOS


// CARRITO 
.container.form {
    max-width: 960px;
    padding: 60px;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: $color-principal!important;
}
.carrito{
    color: $color-principal;
}
.text-primary {
    --bs-text-opacity: 1;
    color: $color-principal !important;
}
.form-check-input:checked {
    background-color: $color-principal;
    border-color: $color-principal;
}
form{
    button{
        margin-top: 40px;
    }
}
.terminoscc{
    
      color: $color-principal;
    text-decoration: underline;  

    
}
//FIN CARRITO


// TERMINOS Y CONDICIONES

.container.term {
    max-width: 670px;
}

.contendorimgpng {
    
    .imgterm{
        width: 38%;
        position: absolute;
        z-index: -1;
        object-fit: contain;
        left: -36px;
        rotate: 45px;
    }
}
.term{
    background-color: adjust-hue($color: $color-de-fondo, $degrees: 1);
}
@media screen and (max-width:796px) {
    .contendorimgpng{
        display: none;
    }
}

// FIN TERMINOS Y CONDICIONES


// CUADRO - 1

.container.cuadro {
    .contenedorh2 {
        width: 80%;
        color: $color-secundario;
    }
    .contenedorparrafo {
        width: 100%;
    }
    ul{
        padding: 0;
    }
    li{
        list-style: none;
        font-family: $fuente-parrafo;
        margin: 0;
        padding: 0;
    }
    .bcuadro {
        width: 70%;
    }
    
}

.concolorp {
    color: $color-secundario;
}

.concolor {
    font-weight: $weight-h1;
    color: $color-secundario;
}
.col-md-6{
    padding-left: 0;
    padding-right: 40px;
    
}


// FIN CUADRO

// CUADROS A PEDIDO


.soliform {
    @include solform1
}
.soliform textarea {
    @include soliprest-text2
}

.bordes{
    margin: 0px;
    padding: 20px;
    border: 1px solid $color-principal;
    border-radius: 20px;
    border-width: 1px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid $color-detalle;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pequeño{
    width: 20%;
}
.row.pedido{
    margin: 50px 0px;
    h1{
        margin: 20px 0px 20px 0px;
    }
    p{
        padding: 20px ;
    }
}

.imgs4{
    width: 90%;
    height: 100%;
    
}
.row.presupuesto{
    h3{
    margin: 80px auto 40px;
    color: $color-detalle;
    }
    
}
textarea{
    width: 100%;
    height: 200%;
    border-radius: 10px;
    padding: 10px;
    border-color: $color-detalle;
    
}
// FIN CUADROS A PEDIDO

//FOOTER
footer{
    margin: 90px 0px 20px 0px;
    padding-top: 60px;
    border-top: 1px solid $color-fuente;
}
.logofooter{
    width: 280px;
    padding-left: 30px;
}
.row.derechos{
    color: $color-detalle;
    font-size: $tamano-p-pqueno;
    margin-top: 30px;
    margin-bottom: 0;
}
.col-6.col-md{
    a{
        font-size: $tamano-p;
        color: $color-fuente;
        font-family: $fuente-parrafo;
    }
}
//FIN FOOTER

// PRODUCTO INSUMO ACRILICO TUBO
.p-insumo{
    width: 100%;
}
.col-3.insumos{
    margin: 40px;
    padding: 40px;
    border: 1px solid $color-principal;
    border-radius: 20px;
    border-width: 1px;
    img{
        width: 40%;
        
   }
    h5{
        width: 40%;
        margin: 20px auto;
       
    }

}
.row.colores{

     margin: 10px;   
     margin-bottom: 20px;
     img{
        width: 35%;
     }
     img:hover{
        cursor: pointer;
     }
    }
    


@media screen and (max-width:596px){
    .col-3.insumos{
        margin: 40px auto;
        width: 20%;
        padding: 10px;
        h5{
            font-size: $tamano-p-pqueno !important;
            padding: 0;
        }
        p{
            font-size: $tamano-p-pqueno;
        }
        height: 400px;
        img{
            height: 100px;
        }
        .carritoicon{
            width: 40%;
        }
    }
}
@media screen and (max-width:996px) {
    .col-3.insumos{
        width: 20%;
        padding: 5px;
        h5{
            font-size: $tamano-p;
            padding: 0;
        }
        p{
            font-size: $tamano-p-pqueno;
            padding: 0;
        }
        .carritoicon{
            width: 40%;
        }
    }
}


.imagen-con-texto {
    display: none;
}

@media screen and (max-width:796px) {
    .imagenocl{
        display: none;
    }
    .imagen-con-texto{
        display: flex;
    }
    .buton1{
        display: none;
    }
}
