

//COLORES
$color-principal: #D4633A;
$color-secundario: #74121D;
$color-sobremi: #48495D;
$color-texto-sobremi: #ffffff;
$color-fuente: #000;
$color-footerheader: #ffffff;
$color-detalle: #8E8C8C;
$color-de-fondo: #ffffff;
$color-pp-baja-op:#d4633ae3;
$color-bordes:#D05629;






//FONTS
$fuente-titulo: "Playfair Display SC", serif;
$fuente-parrafo: "Open Sans", sans-serif;

//TAMAÑOS
$tamano-p: 16px; 
$tamano-h1: 48px;
$tamano-h2: 40px;
$tamano-h3: 36px;
$tamano-h4: 30px;
$tamano-h5: 18px;
$tamano-p-pqueno:12px;
$tamano-p-grande:20px;

//WEIGHT
$weight-boton: 400;
$weight-h1: 600;
$weight-h1-delgada: 200;
$weight-h2: 500;
$weight-h3: 400;
$weight-h4: 400;
$weight-h5: 500;

//FIN VARIABLES//


